@model SCFP.Models.LoginViewModel

@{
    ViewData["Title"] = "Login";
}



<h2>Login</h2>

@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger d-flex align-items-center fade show" role="alert" style="border-radius: 8px; animation: fadeIn 0.5s ease-in-out;">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill me-2" viewBox="0 0 16 16">
            <path d="M8.982 1.566a1.13 1.13 0 0 0-1.964 0L.165 13.233c-.457.778.091 1.767.982 1.767h13.706c.89 0 1.438-.99.982-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z" />
        </svg>
        <div>
            @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
            {
                <p class="mb-0">@error.ErrorMessage</p>
            }
        </div>
    </div>
}


<form asp-action="Login" method="post">
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Senha"></label>
        <input asp-for="Senha" class="form-control" />
        <span asp-validation-for="Senha" class="text-danger"></span>
    </div>

    <div class="form-group form-check">
        <input asp-for="LembrarMe" class="form-check-input" />
        <label asp-for="LembrarMe" class="form-check-label"></label>
    </div>

    <button type="submit" class="btn btn-primary">Entrar</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
